.cartitems{
    display: flex;
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #efefef;
    margin: 12px;
    border-radius: 28px;
}

.cartheading {
    background: #2b2f4c;
    color: #fff;
    position: sticky;
    top: 0;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.main_title_tab{
padding: 8px;
}